h1 {
  text-decoration: underline;
  text-align: center;
}
hr {
  margin: 5ch;
}

.line {
  display: flex;
  flex-direction: row;
}

.line > .tabstop {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  align-items: flex-start;
}

.line .tabstop:last-child {
  align-self: flex-end;
}

.tabstop {
  display: flex;
}

.tabstop > * {
  padding: 1ch;
  font-size: large;
}

.stretchlast :first-child {
  flex-grow: 0;
  font-weight: bold;
  width: attr(data-width ch, "auto");
}

.stretchlast :last-child {
  flex-grow: 1;
}
.underline {
  border-bottom: solid 1px black;
}

.spechial {
  margin-top: auto;
}
.narrow {
}

.narrow :first-child {
  margin-left: 10%;
}

.wide {
  flex-basis: 100%;
  padding-left: 0;
}
